*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Segoe UI, sans-serif;
}

body{
    background:#0f172a;
    color:white;
}

header{
    padding:20px 10%;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.logo{
    color:#60a5fa;
}

ul{
    display:flex;
    list-style:none;
    gap:20px;
}

a{
    color:white;
    text-decoration:none;
}

.hero{
    min-height:90vh;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:20px;
}

.hero-content{
    max-width:700px;
}

.hero h1{
    font-size:3rem;
    margin-bottom:20px;
}

.hero p{
    font-size:1.2rem;
    color:#cbd5e1;
    margin-bottom:30px;
}

.btn{
    background:#3b82f6;
    padding:15px 30px;
    border-radius:30px;
    display:inline-block;
    transition:0.3s;
}

.btn:hover{
    transform:scale(1.05);
}
